.container_background {
  background-image: url('../../../assets/pexels-christian-buergi-6344695.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.register_area_form h1 {
  margin-bottom: 2.7rem;
  font-size: 2.7rem;
  text-align: center;
  color: var(--white);
}

.register_area_form {
  background-color: var(--gray-100);
  box-shadow: .4rem .8rem .4rem rgba(0, 0, 0, .2);
  border-radius: 1.7rem;
  padding: 4rem;
}

.question_paragraph a, p {
  color: var(--white);
  margin-top: 2rem;
  font-size: 1.4rem;
}


.question_paragraph a {
  margin-left: 1rem;
  text-decoration: underline;
}

.container_background header ul li:first-child {
  margin: 1rem 0 0 1rem;
}

.container_background header ul li:last-child {
  margin-top: 1rem;
}

.container_background header ul li a {
  color: var(--white);
  text-decoration: underline;
}

.container_background header ul, 
.container_background header ul li a {
  display: flex;
  align-items: center;
}

.container_background header ul li {
  list-style: none;
  color: var(--white);
  font-weight: 600;
}

.container_register {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

@media(max-width: 996px) {
  .container_register {
    flex-wrap: wrap;
    padding-bottom: 67rem
  }
}